<sly data-sly-use.urlModel="com.demo.core.models.UrlResolverModel"></sly>
<sly data-sly-use.profileListingModel="com.demo.core.models.ProfileListingModel"></sly>
<div>
    <input type="hidden" value="${urlModel.shortUrl}" id="profiledetailsresourcepath" />
    <h1>${properties.heading}</h1>
    <div data-sly-list.profile="${profileListingModel.profilesList}">
        <p>Name: <a href='/content/demo/us/en/home/profiledetail.html?id=${profile._id}'>${profile.name}</a></p>
    </div>
</div>
<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientLib.js @ categories='demo.homepage'}" />
</sly>