<div>
    <form id="addProfile">
      <p>Name: <input type="text" name="name" placeholder="Enter Name"/> </p>
      <p>Age: <input type="text" name="age" placeholder="Enter Age"/> </p>
      <p>DOB: <input type="text" name="dob" placeholder="Enter Date of Birth"/> </p>
      <p>Title: <input type="text" name="title" placeholder="Enter Title"/> </p>
      <p>Company: <input type="text" name="company" placeholder="Enter Company"/> </p>
      <p>Job: <input type="text" name="job" placeholder="Enter Job"/> </p>
    </form>
        <button class="btn btn-back">Cancel</button>
        <button class="btn btn-submit">Submit</button>
</div>