<sly data-sly-use.urlModel="com.demo.core.models.UrlResolverModel"></sly>
<sly data-sly-use.profileListingModel="com.demo.core.models.ProfileListingModel"></sly>
<div>
    <input type="hidden" value="${urlModel.shortUrl}" id="profiledetailsresourcepath" />
    <h1>${properties.listingHeading}</h1>
    <div data-sly-list.profile="${profileListingModel.profilesList}">
        <p>Name: ${profile.name} <button class="btn btn-name" data-profileid="${profile._id}">View Details</button> <button class="btn btn-delete" data-profileid="${profile._id}">Delete</button></p> 
    </div>
    <button class="btn btn-add">Add Profile</button>
</div>
